# ignore ipynb checkpoints
.ipynb_checkpoints/

# ignore DS_Store
.DS_Store

# ignore data files and csv files
ny_taxi_postgres_data/
*.csv
*.csv.gz
data/

# ignore terraform files
week_1/terraform/.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# others
services